@media screen and (max-width: 1300px) {
    .Passion {
        height: 1050px;
    }

    .passion-image {
        height: 50%;
        right: 150px;
        margin-top: 5%;
    }

    .passion-link-sub-title {
        top: 855px;
    }

    .passion-next-button {
        margin-top: 530px;
    }
}

@media screen and (max-width: 870px) {
    .Passion {
        height: 1200px;
        margin-bottom: -30px;
    }

    .passion-title {
        font-size: 28px;
        font-weight: 900;
        letter-spacing: 3px;
        line-height: 36px;
        font-family: 'Noto Sans JP', sans-serif;
        margin-left: 10%;
        margin-bottom: 50px;
        padding-top: 200px;
    }

    .passion-text {
        display: block;
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 1px;
        line-height: 30px;
        -webkit-font-smoothing: antialiased;
        width: 70%;
        margin-left: 10%;
    }

    .passion-image {
        position: relative;
        width: 70%;
        height: auto;
        top: 0px;
        margin-top: 5%;
        padding-top: 10px;
        margin-right: auto;
        margin-left: auto;
        right: 10%;
        left: 20%;
    }

    .passion-link-sub-title {
        display: none;
    }

    .passion-next-button {
        position: absolute;
        text-align: right;
        left: 300px;
        margin-top: 250px;
    }
}