.Passion {
    background-color: rgb(216, 19, 68);
    color: rgb(30, 255, 0);
    height: 700px;
    margin-bottom: -20px;
}

.passion-title {
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 3px;
    line-height: 36px;
    font-family: 'Noto Sans JP', sans-serif;
    margin-left: 340px;
    margin-bottom: 50px;
    padding-top: 100px;
}

.passion-text {
    display: block;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 30px;
    -webkit-font-smoothing: antialiased;
    width: 500px;
    margin-left: 150px;
}

.passion-image {
    border-radius: 15px;
    position: absolute;
    height: 300px;
    width: auto;
    right: 150px;
    margin-top: -90px;
    z-index: 1;
}