.About {
    background-color: white;
    height: 706px;
    z-index: 1;
}

.about-background {
    height: 700px;
    width: 1440px;
    z-index: 1;
}

.about-title {
    color: deeppink;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 3px;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 36px;
    margin-left: 136.797px;
    margin-top: -620px;
    margin-bottom: 90px;
    z-index: 3;
    position: absolute;
}

.about-background-element {
    background-color: white;
    display: block;
    height: 500px;
    position: absolute;
    width: auto;
    left: 0px;
    right: 0px;
    z-index: 2;
    margin-top: -600px;
}

.about-element {
    text-align: right;
    display: block;
    margin-right: 120px;
}

.about-element h2 {
    color: deeppink;
    font-family: "OptimaLTPro-Roman", "Ryumin Regular KL", serif;
    letter-spacing: 4px;
    font-size: 25px;
    line-height: 30px;
    position: absolute;
    top: 110px;
    right: 130px;
    -webkit-font-smoothing: antialiased;
}

.about-element h3 {
    color: deeppink;
    font-family: "Crimson Text";
    font-size: 12px;
    letter-spacing: 1px;
    position: absolute;
    top: 165px;
    right: 130px;
    -webkit-font-smoothing: antialiased;
}

.about-element p {
    color: deeppink;
    font-family: "Ryumin Regular KL", "Crimson Text";
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 22px;
    width: 230px;
    position: absolute;
    top: 200px;
    right: 130px;
    -webkit-font-smoothing: antialiased;
}

.about-image {
    color: white;
    background-color: rgb(170, 170, 170);
    letter-spacing: 4px;
    display: block;
    height: 130px;
    position: absolute;
    width: auto;
    right: 450px;
    z-index: 3;
    text-align: right;
    top: 180px;
}

.about-link-to-person {
    color: deeppink;
    font-size: 20px;
    font-weight: 400;
    font-weight: 10;
    letter-spacing: 1px;
    line-height: 36px;
    -webkit-font-smoothing: antialiased;
    z-index: 3;
    position: absolute;
    text-align: right;
    right: 0px;
    cursor: pointer;
    top: 380px;
}

.about-link-to-person-sub-title {
    font-size: 12px;
    margin-right: 300px;
    top: 0px;
}