.About {
    background-color: rgb(94, 94, 94);
    height: 920px;
    z-index: 1;
}

.about-background {
    height: 900px;
    width: 100%;
    margin-top: 10px;
    z-index: 1;
}

.about-title {
    color: deeppink;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 3px;
    line-height: 36px;
    font-family: 'Noto Sans JP', sans-serif;
    position: absolute;
    top: 113px;
    margin-bottom: 0px;
    margin-left: 136.797px;
    z-index: 3;
}

.about-content {
    display: block;
    background-color: rgba(255, 255, 255, 0.952);
    position: absolute;
    height: 600px;
    width: auto;
    left: 0px;
    right: 0px;
    top: 150px;
    z-index: 2;
}

.about-element {
    display: block;
    text-align: right;
    color: deeppink;
    -webkit-font-smoothing: antialiased;
    margin-right: 120px;
}

.about-element h2 {
    font-size: 25px;
    letter-spacing: 4px;
    line-height: 30px;
    font-family: "OptimaLTPro-Roman", "Ryumin Regular KL", serif;
    position: absolute;
    top: 140px;
    right: 130px;
}

.about-element h3 {
    font-size: 12px;
    letter-spacing: 1px;
    font-family: "Crimson Text";
    position: absolute;
    top: 200px;
    right: 130px;
}

.about-element p {
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 22px;
    font-family: "Ryumin Regular KL", "Crimson Text";
    position: absolute;
    width: 230px;
    top: 240px;
    right: 130px;
}

.about-image {
    display: block;
    position: absolute;
    text-align: right;
    height: 130px;
    width: 100px;
    top: 240px;
    right: 450px;
    z-index: 3;
    border: 2px solid deeppink;
}

.about-link-to-person {
    text-align: right;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 36px;
    position: absolute;
    right: 0px;
    top: 380px;
    z-index: 3;
}

.about-link-to-person-sub-title {
    font-size: 12px;
    position: absolute;
    right: 300px;
    top: 45px;
    z-index: 3;
}