@media screen and (max-width: 1000px) {
    .home-background {
        height: 900px;
        width: 100%;
    }

    .home-dot-under-button {
        display: none;
    }

    .home-title {
        margin-left: 120px;
    }

    .home-nav-list {
        margin-left: 100px;
    }

    .home-link-list {
        margin-top: 100px;
    }

}

@media screen and (max-width: 670px) {
    .home-background {
        height: 650px;
        width: 100%;
    }

    .home-title {
        margin-left: 60px;
        margin-right: 150px;
        top: 120px;
    }

    .home-nav-list {
        top: 240px;
        margin-left: 150px;
    }

    .home-nav-list li {
        padding-top: 15px;
        margin-right: 45px;
    }

    .home-link-list {
        display: none;
    }

}