.Contact {
    height: 700px;
    z-index: 1;
}

.contact-background {
    height: 700px;
    width: 1440px;
    z-index: 2;
}

.contact-across-line {
    background-color: rgb(231, 75, 18);
    height: 2px;
    width: 1440px;
    position: absolute;
    z-index: 5;
    margin-top: -355px;
    right: 100px;
}

.contact-title {
    color: rgb(231, 75, 18);
    font-size: 30px;
    letter-spacing: 3px;
    line-height: 36px;
    right: 380px;
    text-align: right;
    padding-top: 100px;
    margin-bottom: 130px;
    -webkit-font-smoothing: antialiased;
    z-index: 3;
    margin-top: -730px;
    position: absolute;
    font-family: 'Noto Sans JP', sans-serif;
}

.contact-background-element {
    background-color: rgba(0, 25, 39, 0.932);
    display: block;
    height: 500px;
    position: absolute;
    width: auto;
    left: 100px;
    right: 0px;
    z-index: 2;
    margin-top: -610px;
}

.contact-adress {
    text-align: right;
    margin-right: 200px;
    color: rgb(231, 75, 18);
    z-index: 3;
}

.contact-adress p {
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 200px;
    z-index: 3;
    -webkit-font-smoothing: antialiased;
}

.contact-adress div {
    border-top: rgb(0, 25, 39) 1px solid;
    z-index: 3;
}

.contact-sub-title {
    color: rgb(231, 75, 18);
    font-size: 16px;
    font-weight: 400;
    font-weight: 10;
    letter-spacing: 1px;
    line-height: 36px;
    margin-left: 200px;
    margin-bottom: 10px;
    margin-top: 60px;
    -webkit-font-smoothing: antialiased;
    z-index: 3;
}

.contact-link-list {
    list-style: none;
    color: rgb(231, 75, 18);
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1.4px;
    line-height: 25.2px;
    padding-left: 200px;
    -webkit-font-smoothing: antialiased;
    z-index: 3;
    
}

.contact-link-list li {
    display: inline-block;
    margin-left: 50px;
    padding-top: 20px;
    z-index: 3;
}