.Contact {
    background-color: navajowhite;
    height: 600px;
}

.contact-title {
    color: rgb(17, 17, 17);
    font-size: 20px;
    font-weight: 400;
    font-weight: 10;
    letter-spacing: 1px;
    line-height: 36px;
    margin-right: 380px;
    text-align: right;
    padding-top: 100px;
    margin-bottom: 130px;
    -webkit-font-smoothing: antialiased;
}

.contact-adress {
    text-align: right;
    margin-right: 200px;
    color: rgb(29, 100, 102);
}

.contact-adress p {
    margin-bottom: 10px;
}

.contact-adress div {
    border-top: orchid 1px solid;
    margin-top: 3px;
}

.contact-sub-title {
    color: rgb(17, 17, 17);
    font-size: 16px;
    font-weight: 400;
    font-weight: 10;
    letter-spacing: 1px;
    line-height: 36px;
    margin-left: 200px;
    margin-bottom: 60px;
    margin-top: 20px;
    -webkit-font-smoothing: antialiased;
}

.contact-link-list {
    list-style: none;
    color: rgb(29, 100, 102);
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1.4px;
    line-height: 25.2px;
    padding-left: 213px;
    -webkit-font-smoothing: antialiased;
    
}

.contact-link-list li {
    display: inline-block;
    margin-left: 67px;
    cursor: pointer;
    padding-top: 30px;
}