.header-background {
    height: 822px;
    width: 1440px;
    z-index: 1;
}

.header-logo {
    color: cyan;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.4px;
    line-height: 20px;
    margin-left: 50px;
    top: 50px;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    z-index: 2;
}

.header-title {
    /* color: hsl(184, 100%, 37%); */
    color: cyan;
    font-size: 28px;
    font-weight: 900;
    font-family: 'Noto Sans JP', sans-serif;
    letter-spacing: 4px;
    line-height: 42px;
    margin-left: 200px;
    top: 200px;
    margin-bottom: 90px;
    /* -webkit-font-smoothing: antialiased; */
    position: absolute;
    z-index: 2;
}

.header-nav {
    color: rgb(17, 17, 17);
    display: block;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1.4px;
    line-height: 25.2px;
    text-align: right;
    height: 58px;
    position: absolute;
    z-index: 2;
    right: 0px;
    top: 400px;
}

.header-list {
    list-style: none;
}

.header-list li {
    display: inline-block;
    margin-right: 67px;
    cursor: pointer;
    padding-top: 30px;
    -webkit-font-smoothing: antialiased;
}

.header-link-list {
    list-style: none;
    color: rgb(29, 100, 102);
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1.4px;
    line-height: 25.2px;
    padding-left: 0;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    z-index: 2;
    top: 480px;
    text-align: right;
    right: 15px;
}

.header-link-list li {
    display: inline-block;
    margin-right: 50px;
    cursor: pointer;
    padding-top: 60px;
}

.scroll-line {
    color: cyan;
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 1.4px;
    display: block;
    height: 100px;
    bottom: 70px;
    line-height: 19.8px;
    position: absolute;
    text-align: left;
    right: 80px;
    width: 1px;
    -webkit-font-smoothing: antialiased;
    writing-mode: vertical-rl;
    top: 700px;
}