.header-logo {
    color: cyan;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.4px;
    line-height: 20px;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    top: 30px;
    margin-left: 50px;
    cursor: pointer;
    z-index: 2;
}

.header-menu-button {
    position: absolute;
    top: 23px;
    right: 40px;
    cursor: pointer;
    z-Index: 2;
}

.header-list {
    background-color: gray;
    width: 250px;
    height: 825px;
    padding-left: 20px;
}

.header-list-item {
    color: honeydew;
    text-decoration: none;
}