* {
    box-sizing: border-box;
}

.Strength {
    background-color: rgb(43, 51, 30);
}

.strength-title {
    text-align: center;
    color: cyan;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 3px;
    line-height: 36px;
    font-family: 'Noto Sans JP', sans-serif;
    margin-bottom: 60px;
    padding-top: 100px;
}

.strength-sec-list {
    display: flex;
    justify-content: center;
    color: cyan;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.4px;
    line-height: 25.2px;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    width: 100%;
}

.strength-list {
    padding-right: 5%;
    padding-left: 5%;
    width: 33%;
}

.strength-list-ttl-area {
    display: block;
    text-align: center;
    min-height: 370px;
}

.strength-list-ttl-img {
    align-items: center;
    border-radius: 100px;
    height: 200px; 
    width: 200px; 
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
}

.strength-list-ttl-jpn {
    font-size: 20px;
    line-height: 22.4px;
    width: 100%;
    margin-bottom: 10px;
}

.strength-list-ttl-eng {
    font-size: 11px;
    line-height: 19.8px;
    width: 100%;
}

.strength-sec-lead-area {
    text-align: center;
    font-size: 12px;
    letter-spacing: 0.84px;
    line-height: 30px;
    padding-bottom: 100px;
}