@media screen and (max-width: 870px) {
    .strength-sec-list {
        flex-direction: column;
    }

    .strength-list {
        width: 100%;
        padding-right: 20%;
        padding-left: 20%;   
    }   
}

@media screen and (max-width: 870px) {
    .strength-list {
        padding-right: 10%;
        padding-left: 10%;   
    }   
}