@media screen and (max-width: 1000px) {
    .footer-nav-list {
        display: none;
    }

    .footer-nenu-icon {
        display: block;
    }
}

@media screen and (max-width: 670px) {
    .Footer {
        height: 50px;
    }

    .footer-logo {
        margin-left: 5%;
        line-height: 50px;
    }

    .footer-nenu-icon {
        margin-top: -50px;
        right: 5%;
    }
}