.Footer {
    background-color: rgb(0, 25, 39);
    height: 80px;
}

.footer-logo {
    color: cyan;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.4px;
    margin-left: 100px;
    -webkit-font-smoothing: antialiased;
    width: 200px;
    line-height: 80px;
}

.footer-nav {
    color: rgb(17, 17, 17);
    display: block;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1.4px;
    line-height: 80px;
    text-align: right;
    position: absolute;
    right: 0px;
    margin-top: -95px;
}

.footer-list {
    list-style: none;
    margin-bottom: 0px;
}

.footer-list li {
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
}